{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'fonts/gilroy-extrabold.otf' %}">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="description" content="LAB 5">
   <!-- bootstrap csss -->
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Titan+One" rel="stylesheet">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
   <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">

   <title>
       SIMBION
   </title>
   
   <style>
   .myheader{
   z-index:9999999999;
   position:fixed;
   }
   
   </style>
   
   
</head>
<body>
   <header class="myheader">
       {% include "partials/header.html" %}
   </header>

   <content>
           {% block content %}
               <!-- content goes here -->
           {% endblock %}
   </content>

   <!-- Jquery n Bootstrap Script -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCL80yP6FbvN-vz-HMqbeFbpId68_azpYk&callback=initMap"
      type="text/javascript"></script>
   <script src="{% static 'js/saya.js' %}"></script>
   {% block javascript %}
   {% endblock %}
</body>
</html>

