{% extends "layout/base2.html" %}
{% block content %}

<head>
<style>
body {
          background: #ecf0f1;  /* fallback for old browsers */
          font-size: 20px;
          margin-bottom: 100px;
        }
        ul.nav.navbar-nav .dropdown.open .dropdown-toggle{
          background-color: #206578;
        }


        .dropdown-menu > li > a:hover {
          background-color: #398DA3;
        }
        .navbar-nav>li>a {
          color: #444 !important;
          background: transparent;
          margin-bottom: 6px;
          top: 6px;
        }
        li.some-text {
          padding:12px 15px 5px 25px;
          font-size: 15px;
        }
        .navbar {
          background: #fff;  /* fallback for old browsers */
          box-shadow: 0px 0px 10px 10px rgba(119, 119, 119, 0.3);
          -moz-box-shadow: 0px 0px 10px 10px rgba(119, 119, 119, 0.3);
          -webkit-box-shadow: 0px 0px 10px 10px rgba(119, 119, 119, 0.3);

          border-radius: none;
          border: none;
          padding: 10px 100px;
        }
        .header {
          padding: 3px 10px;
        }
        li.button-login a{
          top: 2px;
        }
        .navbar-nav >li> a:hover {
          color: #444 !important;
          background: none;
        }
        .navbar-nav .dropdown li.active a {
          color: default;
          background-color: default;
          border-bottom: none;
        }
        .navbar-nav li.active a {
          color: #444 !important;
          background-color: transparent !important;
          border-bottom: 3px solid #ecf0f1;
        }
        .navbar-default .navbar-toggle .icon-bar {
          background-color: #444 !important;
        }
        .navbar-toggle{
          background: transparent;
          border: none;
          position: right;
        }
        .navbar-toggle:focus, .navbar-toggle:hover{
          background: rgba(236, 240, 241, 0.1) !important;
        }
        .logo1 {
          width: 150px;
        }
        li.some-text a {
          color: #77c9d4 !important;
          margin-bottom: 0;
          top: 0;
        }
        li.some-text {
          line-height: auto;
        }
        .btn-login {
          background: #FDD947;
          border-radius: 30px;
          color: #444;
          font-size: 20px;
          padding: 2px 30px;
          -webkit-transition-duration: 0.5s; /* Safari */
          transition-duration: 0.5s;
        }

        .btn-submit {
          display: block;
          margin:0 auto;
          background: #FDD947;
          border-radius: 30px;
          color: #444;
          font-size: 20px;
          padding: 2px 30px;
          font-family: 'gilroy-extrabold';
          -webkit-transition-duration: 0.5s; /* Safari */
          transition-duration: 0.5s;
        }

        .btn-terima{
          background: #FDD947;
          border-radius: 30px;
          color: #444;
          font-size: 20px;
          -webkit-transition-duration: 0.5s; /* Safari */
          transition-duration: 0.5s;
        }

        .btn:hover{
          text-align: center;
          border-radius: 30px;
          background-color: #444;
          color: #FDD947;
        }

        .table{
          border-radius: 15px;
        }

        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
          background-color: #FFF683;
        }

        td{
          border-top: none !important;
        }

        .regis{
          margin-top: 130px;
          color: #444;
        }

        #row{
          margin-top: 250px;
          color: #444;
        }

        .style13{
         height: 10px;
          border: 0;
          box-shadow: 0 10px 10px -10px #8c8b8b inset;
        }

        .form-control{
          border-radius: 90px;
          border-width: 2px;
        }

        .custom-select{
          border-radius: 90px;
        }

        a{
          color: #444;
        }

        a:hover{
          color: #FDD947;
        }

        @media (max-width:768px) {
          .logo1 {
            width: 150px;
          }
          .navbar {
            padding: 0;
          }

          li.some-text {
            display: none;
          }

          #row{
            margin-top: 0;
          }

          .reg{
            display: none;
          }

          .regis{
            margin-top: 80px;
          }
        }

        @media (min-width:760px) and (max-width:1200px) {
          .logo1 {
            width: 150px;
          }
          .navbar {
            padding: 0;
          }

          li.some-text {
            display: none;
          }

          #row{
            margin-top: 20%;
          }

          .regis{
            margin-top: 80px;
          }
        }

</style>
</head>

<body>

    <content>
    <div class="container">
      <form>
        <div class="row">
          <div class="col-sm-12">
          <div class="regis">
            <img width="70px" src= "https://image.ibb.co/kpLLm7/Asset_1.png">
            <h2 style="font-family: 'gilroy-extrabold'; display: inline-block; padding-left: 15px; vertical-align: middle"> Lihat Pendaftar Beasiswa Anda </h2>
            <hr class="style13">
        </div>
        </div>

      <div class="table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>No. Urut</th>
              <th>Kode Skema</th>
              <th>Waktu Penutupan</th>
              <th>Status</th>
              <th>Jumlah Pendaftar</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>BEA1998</td>
              <td>25 Juni 2017</td>
              <td>Ditutup</td>
              <td>3</td>
              <td><button class="btn btn-terima"> <a href="{% url 'list_pendaftar:index' %}">Lihat</a></button></td>
            </tr>
            <tr>
              <td>2</td>
              <td>BEA1999</td>
              <td>25 Juni 2017</td>
              <td>Ditutup</td>
              <td>3</td>
             <td><button class="btn btn-terima"> <a href="{% url 'list_pendaftar:index' %}">Lihat</a></button></td>
            </tr>
            <tr>
              <td>3</td>
              <td>BEA2000</td>
              <td>20 Juli 2017</td>
              <td>Ditutup</td>
              <td>3</td>
              <td><button class="btn btn-terima"> <a href="{% url 'list_pendaftar:index' %}">Lihat</a></button></td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>

    </content>


</body>

{% endblock %}