<div class="myheader">
    <div class="container" id="regist">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand"><img class="headlog" src="https://image.ibb.co/k4Zk3n/Asset_1.png" class="logo1"></a>
                </div>
            </div>
        </nav>
    </div>
</div>