
<style>
        body {
          background: #ecf0f1;  /* fallback for old browsers */
          font-size: 20px;
          margin-bottom: 100px;
        }
        ul.nav.navbar-nav .dropdown.open .dropdown-toggle{
          background-color: #206578;
        }

        nav{
          font-family: 'gilroy-extrabold';
        }

        @font-face {
          font-family: 'gilroy-light';
          src: url('gilroy-light.otf') format('opentype');
          font-weight: bold;
          font-style: bold;
        }

        @font-face {
          font-family: 'gilroy-extrabold';
          src: url('gilroy-extrabold.otf') format('opentype');
          font-weight: bold;
          font-style: bold;
        }

        .dropdown-menu > li > a:hover {
          background-color: #398DA3;
        }
        .navbar-nav>li>a {
          color: #444 !important;
          background: transparent;
          margin-bottom: 6px;
          top: 6px;
        }
        li.some-text {
          padding:12px 15px 5px 25px;
          font-size: 15px;
        }
        .navbar {
          background: #fff;  /* fallback for old browsers */
          box-shadow: 0px 0px 10px 10px rgba(119, 119, 119, 0.3);
          -moz-box-shadow: 0px 0px 10px 10px rgba(119, 119, 119, 0.3);
          -webkit-box-shadow: 0px 0px 10px 10px rgba(119, 119, 119, 0.3);

          border-radius: none;
          border: none;
          padding: 10px 100px;
        }
        .header {
          padding: 3px 10px;
        }
        li.button-login a{
          top: 2px;
        }
        .navbar-nav >li> a:hover {
          color: #444 !important;
          background: none;
        }
        .navbar-nav .dropdown li.active a {
          color: default;
          background-color: default;
          border-bottom: none;
        }
        .navbar-nav li.active a {
          color: #444 !important;
          background-color: transparent !important;
          border-bottom: 3px solid #ecf0f1;
        }
        .navbar-default .navbar-toggle .icon-bar {
          background-color: #444 !important;
        }
        .navbar-toggle{
          background: transparent;
          border: none;
          position: right;
        }
        .navbar-toggle:focus, .navbar-toggle:hover{
          background: rgba(236, 240, 241, 0.1) !important;
        }
        .logo1 {
          width: 150px;
        }
        li.some-text a {
          color: #77c9d4 !important;
          margin-bottom: 0;
          top: 0;
        }
        li.some-text {
          line-height: auto;
        }
        .btn-login {
          background: #FDD947;
          border-radius: 30px;
          color: #444;
          font-size: 20px;
          padding: 2px 30px;
          -webkit-transition-duration: 0.5s; /* Safari */
          transition-duration: 0.5s;
        }

        .btn-submit {
          display: block;
          margin:0 auto;
          background: #FDD947;
          border-radius: 30px;
          color: #444;
          font-size: 20px;
          padding: 2px 30px;
          font-family: 'gilroy-extrabold';
          -webkit-transition-duration: 0.5s; /* Safari */
          transition-duration: 0.5s;
        }

        .btn:hover{
          text-align: center;
          border-radius: 30px;
          background-color: #444;
          color: #FDD947;
        }

        .regis{
          margin-top: 130px;
          color: #444;
        }

        #row{
          margin-top: 250px;
          color: #444;
        }

        .style13{
         height: 10px;
          border: 0;
          box-shadow: 0 10px 10px -10px #8c8b8b inset;
        }

        .form-control{
          border-radius: 90px;
          border-width: 2px;
        }

        .custom-select{
          border-radius: 90px;
        }

        @media (max-width:768px) {
          .logo1 {
            width: 150px;
          }
          .navbar {
            padding: 0;
          }

          li.some-text {
            display: none;
          }

          #row{
            margin-top: 0;
          }

          .reg{
            display: none;
          }

          .regis{
            margin-top: 80px;
          }
        }

        @media (min-width:760px) and (max-width:1200px) {
          .logo1 {
            width: 150px;
          }
          .navbar {
            padding: 0;
          }

          li.some-text {
            display: none;
          }

          #row{
            margin-top: 20%;
          }

          .regis{
            margin-top: 80px;
          }
        }

      </style>

</style>


 <div class="container" id="regist">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="#" class="navbar-brand"><img src="https://image.ibb.co/k4Zk3n/Asset_1.png" class="logo1"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
                
				<li><a href="{% url 'home_all:index' %}" style="font-size: 20px"><strong>Lihat Beasiswa Anda</strong></a></li>
                <li><a href="#" style="font-size: 20px"><strong>Pengumuman</strong></a></li>
                <li class="button-login"><a href="{% url 'login:index' %}"><button class="btn btn-login"><b>Logout</b></button></a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
