{% extends "layout/basebaru.html" %}
{% block content %}
<div class="container" style="font-family:  'Montserrat', sans-serif;">
    <form>
        <div class="row">
            <div class="col-sm-12">
                <div class="regis">
                    <div class="container">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slide -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="https://image.ibb.co/gJskM7/ya_Asset_2.png" alt="Los Angeles" style="width:100%;">
                                </div>
                
                                <div class="item">
                                    <img src="https://image.ibb.co/gJskM7/ya_Asset_2.png" alt="Chicago" style="width:100%;">
                                </div>
                
                                <div class="item">
                                    <img src="https://image.ibb.co/gJskM7/ya_Asset_2.png" alt="New york" style="width:100%;">
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a href="#myCarousel" class="left carousel-control" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a href="#myCarousel" class="right carousel-control" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>

                    <img width="70px" src= "https://image.ibb.co/kpLLm7/Asset_1.png">
                    <h2 style="font-family:  'Montserrat', sans-serif;; display: inline-block; padding-left: 15px; vertical-align: middle"> LIST BEASISWA</h2>
                    <hr class="style13">
                </div>
            </div>

            <div class="table">
                <table class="table table-hover">
                    <thead>
                        <tr style="font-family:  'Montserrat', sans-serif;">
                            <th>No. Urut</th>
                            <th>Kode Skema</th>
                            <th>Waktu Penutupan</th>
                            <th>Status</th>
                            <th>Jumlah Pendaftar</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr>
                            <td>1</td>
                            <td>BEA1998</td>
                            <td>25 Juni 2017</td>
                            <td>Ditutup</td>
                            <td>3</td>
                            <td><button class="btn btn-terima"> <a href="">Lihat</a></button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>BEA1999</td>
                            <td>25 Juni 2017</td>
                            <td>Ditutup</td>
                            <td>3</td>
                            <td><button class="btn btn-terima"> <a href="">Lihat</a></button></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>BEA2000</td>
                            <td>20 Juli 2017</td>
                            <td>Ditutup</td>
                            <td>3</td>
                            <td><button class="btn btn-terima"> <a href="">Lihat</a></button></td>
                        </tr> -->

                        {% for data in beasiswa %}
                        <tr>
                            <td>{{ data.1 }}</td>
                            <td>{{ data.0 }}</td>
                            <td>{{ data.3 }}</td>
                            <td>{{ data.5 }}</td>
                            <td>{{ data.6 }}</td>
                            <td><button class="btn btn-terima"> <a href="{% url 'home:deskripsi_beasiswa' data.0 %}">Lihat</a></button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
{% endblock %}